#halaman {
  width: 800px;
  margin: auto;
}
nav {
  background-color: #333;
  display: inline-block;
  width: 100%;
}
nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 3rem;
  list-style: none;
}
nav ul li {
  background-color: #777;
  float: left;
  align-items: center;
}
nav a {
  display: block;
  padding: 0;
  color: #fff;
  line-height: 30px;
  font-size: 20px;
  text-decoration: none;
}
nav a:hover {
  background-color: #000;
}
/* dropdown */
nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}
nav ul li:hover > ul {
  display: block;
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}
